.first-face {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.07);
    border-radius: 1px;
}

.first-face-media {
    border-right: 1px solid #E1F5F2;
    flex: 1 0 auto;
    align-self: flex-start;
}

.first-face-content {
    padding: 13px 20px 15px 0;
    display: flex;
    flex-direction: column;
    .read-more:not(:hover) .arrow-right {
        fill: #390050;
    }
}

.first-face-title {
    margin: 0 0 11px;
    padding: 0;
    font-size: 17px;
    color: #390050;
    line-height: 20px;
    @include SFProTextRegular;
}

.first-face-text {
    line-height: 18px;
    font-size: 15px;
    color: #2F2732;
}

