footer {
    margin-top: auto;
    padding: 90px 0 55px;
    border-bottom: 8px solid #474CA6;
}

.footer-left {
    font-size: 13px;
    color: #2F2732;
    @include SFProTextLight;
    .logo {
        margin-bottom: 25px;
    }
}

.footer-text {
    font-size: 13px;
}

.copy {
    font-size: 14px;
}

.footer-nav a {
    color: #474CA6;
    &:hover {
        color: #867A8A;
    }
}

.footer-nav {
    display: flex;
}

.footer-menu {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px;
    list-style: none;
    flex: none;
    li {
        margin-bottom: 10px;
        line-height: 1.8;
    }
}

.footer-contacts {
    margin-bottom: 0;
    list-style: none;
    font-size: 14px;
    color: #867A8A;
    line-height: 21px;
    @include SFProDisplayMedium;
    li {
        position: relative;
    }
    a {
        color: #867A8A;
    }
    svg {
        width: 18px;
        height: 20px;
        margin-right: 15px;
        fill: #867A8A;
        position: absolute;
        left: 0;
        top: 0;
    }
    .phone {
        width: 18px;
        height: 20px;
    }
    .email {
        width: 14px;
        height: 18px;
    }
    .pin {
        width: 17px;
        height: 18px;
    }
}
