.grid {
    display: flex;
    svg {
        display: none;
    }
    .AZ::before {
        background-position: -33px -2px;
    }
    .AM::before {
        background-position: -2px -2px;
    }
    .BY::before {
        background-position: -96px -2px;
    }
    .BG::before {
        background-position: -64px -2px;
    }
    .HU::before {
        background-position: -64px -51px;
    }
    .GR::before {
        background-position: -33px -51px;
    }
    .GE::before {
        background-position: -2px -51px;
    }
    .IT::before {
        background-position: -96px -51px;
    }
    .KZ::before {
        background-position: -33px -74px;
    }
    .CN::before {
        background-position: -2px -26px;
    }
    .KG::before {
        background-position: -2px -74px;
    }
    .LV::before {
        background-position: -64px -74px;
    }
    .LT::before {
        background-position: -96px -74px;
    }
    .MK::before {
        background-position: -64px -98px;
    }
    .MD::before {
        background-position: -126px -3px;
    }
    .PL::before {
        background-position: -96px -98px;
    }
    .RU::before {
        background-position: -126px -51px;
    }
    .RO::before {
        background-position: -2px -98px;
    }
    .RS::before {
        background-position: -126px -26px;
    }
    .SI::before {
        background-position: -126px -74px;
    }
    .TJ::before {
        background-position: -126px -98px;
    }
    .UZ::before {
        background-position: -64px -26px;
    }
    .UA::before {
        background-position: -2px -122px;
    }
    .CZ::before {
        background-position: -34px -26px;
    }
    .ME::before {
        background-position: -34px -98px;
    }
    .EE::before {
        background-position: -96px -26px;
    }
}

.grid-item-wrap {
    width: 100%;
    padding: 12px 10px 2px 16px;
    background: #fff;
    position: relative;
    box-shadow: 0 5px 18px 0 rgba(#000, .05);
    transition: all .6s ease;
}

.grid-title {
    line-height: 20px;
    padding-left: 42px;
    font-size: 17px;
    display: block;
    position: relative;
    @include SFProDisplayMedium;
    &::before {
        background-image: url(../img/sprite-flags.png);
        background-repeat: no-repeat;
        background-size: 155px 144px;
        width: 26px;
        height: 19px;
        left: 0;
        top: 2px;
        content: '';
        position: absolute;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, .1);
    }
}

.grid-item {
    position: relative;
}

.grid-text {
    margin-top: 10px;
    position: relative;
    p {
        font-size: 13px;
        line-height: 16px;
        cursor: pointer;
        position: relative;
        z-index: 50;
        transition: all .3s ease;
        @include SFProTextLight;
        &:hover {
            color: #474CA6;
        }
    }
}

.grid-more {
    opacity: 0;
    transition: all .3s ease;
}

.grid-more-left {
    right: 100%;
    transform: translate(-40px, -50%);
    &::before, &::after {
        right: -20px;
        border-left-color: #fff;
    }
    &::before {
        border-left-color: rgba(71, 76, 166, 0.20);
    }
}

.grid-more-right {
    left: 100%;
    transform: translate(40px, -50%);
    &::before, &::after {
        left: -20px;
        right: auto;
        border-right-color: #fff;
        border-left-color: transparent;
    }
    &::before {
        border-right-color: rgba(71, 76, 166, 0.20);
        border-left-color: transparent;
    }
}

.grid-more-persona {
    margin-bottom: 6px;
    font-size: 14px;
    color: #2F2732;
    @include SFProTextRegular;
}

.grid-more-contacts {
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    color: #2F2732;
    line-height: 20px;
    @include SFProTextLight;
}

.grid-more-link {
    padding-left: 22px;
    color: #474CA6;
    font-size: 14px;
    display: inline-block;
    position: relative;
    @include SFProTextLight;
    .link {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        left: 0;
        top: 3px;
        fill: #474CA6;
        display: block;
        position: absolute;
        transition: fill 0.3s ease;
    }
    &:hover .link {
        fill: #178ace;
    }
}

.grid-more-opened .grid-more {
    opacity: 1;
    z-index: 55;
}
