.grid {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    svg {
        display: none;
    }
    .AZ::before {
        background-position: -33px -2px;
    }
    .AM::before {
        background-position: -2px -2px;
    }
    .BY::before {
        background-position: -96px -2px;
    }
    .BG::before {
        background-position: -64px -2px;
    }
    .HU::before {
        background-position: -64px -51px;
    }
    .GR::before {
        background-position: -33px -51px;
    }
    .GE::before {
        background-position: -2px -51px;
    }
    .IT::before {
        background-position: -96px -51px;
    }
    .KZ::before {
        background-position: -33px -74px;
    }
    .CN::before {
        background-position: -2px -26px;
    }
    .KG::before {
        background-position: -2px -74px;
    }
    .LV::before {
        background-position: -64px -74px;
    }
    .LT::before {
        background-position: -96px -74px;
    }
    .MK::before {
        background-position: -64px -98px;
    }
    .MD::before {
        background-position: -126px -3px;
    }
    .PL::before {
        background-position: -96px -98px;
    }
    .RU::before {
        background-position: -126px -51px;
    }
    .RO::before {
        background-position: -2px -98px;
    }
    .RS::before {
        background-position: -126px -26px;
    }
    .SI::before {
        background-position: -126px -74px;
    }
    .TJ::before {
        background-position: -126px -98px;
    }
    .UZ::before {
        background-position: -64px -26px;
    }
    .UA::before {
        background-position: -2px -122px;
    }
    .CZ::before {
        background-position: -34px -26px;
    }
    .ME::before {
        background-position: -34px -98px;
    }
    .EE::before {
        background-position: -96px -26px;
    }
}

