header {
    padding: 15px 0;
}

.header-contact {
    padding-top: 13px;
}

.header-contact-phone {
    margin-bottom: 25px;
    font-weight: 600;
    color: $green;
    display: flex;
    align-items: center;
    @include font-size(24px);
    .phone-call {
        width: 24px;
        height: 24px;
        margin-right: 20px;
        fill: $green;
    }
}

.header-contact-schedule {
    display: flex;
    align-items: center;
    .clock {
        width: 19px;
        height: 19px;
        margin: 0 25px 0 2px;
    }
}

.header-support .btn-green {
    width: 100%;
    line-height: normal;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-support {
    padding-top: 10px;
}
