.header-info {
    position: relative;
    z-index: 10;
    display: flex;
    flex: 1 0 auto;
    &::after {
        width: 720px;
        height: 367px;
        position: absolute;
        content: '';
        background: url(../img/bg/bg-land.png) center top no-repeat;
        background-size: contain;
        z-index: -1;
        opacity: .25;
    }
}

.header-content {
    flex: 1 1 auto;
}

.header-title {
    font-weight: normal;
    @include SFProDisplayBold;
}

.header-title-sup {
    @include SFProDisplayMedium;
}

.header-text {
    font-size: 17px;
    @include SFProTextLight;
}
