.home-header {
    padding-top: 65px;
    color: #2F2732;
}

.header-panel {
    margin-bottom: 100px;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
}

.logo {
    width: 164px;
}

.top-panel {
    height: 65px;
    padding: 0 27px 0 40px;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    color: #2F2732;
    background-color: #fff;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    > li {
        height: inherit;
        line-height: 67px;
        position: relative;
        &:hover .dropdown-wrap {
            opacity: 1;
            pointer-events: auto;
        }
    }
    a {
        color: #2F2732;
        &:hover {
            color: #474CA6;
        }
    }
}

.dropdown-link {
    position: relative;
    &::after {
        width: 8px;
        height: 8px;
        margin-left: 10px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
        top: 3px;
        content: '';
    }
}

.dropdown-wrap {
    position: absolute;
    left: -11px;
    top: 100%;
    padding-top: 3px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.dropdown {
    padding: 32px 65px 0 35px;
    margin-bottom: 0;
    list-style: none;
    line-height: 1.2;
    background-color: #fff;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 60px;
    li {
        width: 207px;
        margin-bottom: 35px;
        white-space: nowrap;
    }
    a::before {
        margin-right: 13px;
        top: -1px;
        letter-spacing: -3px;
        display: inline;
        position: relative;
        content: '››';
    }
}

.search-top {
    height: 100%;
    padding-right: 10px;
    margin-left: auto;
    .search {
        width: 18px;
        height: 18px;
        fill: #2F2732;
    }
}

.search-top-icon {
    width: 12px;
    height: 18px;
    margin-top: 24px;
    position: relative;
    cursor: pointer;
    .search {
        width: 18px;
        height: 18px;
        fill: #2F2732;
        transition: fill 0.3s ease;
    }
    &:hover .search {
        fill: #474CA6;
    }
}

.search-top-input {
    width: 0;
    height: 100%;
    padding: 10px;
    right: 150px;
    top: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.search-top-field {
    width: 100%;
    height: inherit;
    padding: 0 30px;
    border: 0;
    background-color: #fff;
}

.search-top-btn {
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.search-top-opened .search-top-input {
    width: calc(100% - 140px);
    opacity: 1;
    pointer-events: auto;
}

.language-bar {
    width: 93px;
    height: inherit;
    position: relative;
    text-align: center;
}

.language-bar-list {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.language-bar-item {
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        color: #474CA6;
    }
    &:not(.language-bar-current) {
        padding-top: 14px;
        background-color: #fff;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
        &:not(:hover) {
            color: #867A8A;
        }
    }
    &:last-child {
        padding-bottom: 15px;
    }
}

.language-bar-current {
    height: 65px;
    line-height: 65px;
    margin-bottom: 4px;
    position: relative;
    @include SFProTextSemibold;
    &:not(:hover) {
        color: #2F2732;
    }
    &::after {
        width: 8px;
        height: 8px;
        margin-left: 10px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        position: absolute;
        right: 14px;
        top: 27px;
        content: '';
    }
}

.language-bar-opened {
    .language-bar-current {
        color: #474CA6;
        &::after {
            top: 31px;
            transform: rotate(135deg);
        }
    }
    .language-bar-item:not(.language-bar-current) {
        opacity: 1;
        pointer-events: auto;
    }
}

.header-info {
    display: flex;
}

.header-content {
    padding-top: 65px;
    flex: 1 1 auto;
}

.header-title {
    font-weight: normal;
    @include SFProDisplayBold;
}

.header-title-sup {
    @include SFProDisplayMedium;
}

.header-text {
    font-size: 17px;
    @include SFProTextLight;
}
