.home-info {
    margin-bottom: 126px;
}

.home-info-title {
    margin: 0 0 48px;
    padding: 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    @include SFProDisplayBold;
}

.last-news-wrap {
    display: flex;
    flex-direction: column;
}

.home-info-all {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 15px;
    align-self: center;
    @include SFProDisplayBold;
    &::after {
        margin-left: 6px;
        top: 1px;
        letter-spacing: -3px;
        display: inline;
        position: relative;
        content: '››';
        font-size: 21px;
        @include SFProTextRegular;
    }
}

.last-news {
    margin-bottom: 20px;
}

.last-news-item {
    padding-bottom: 23px;
    border-bottom: 1px solid #E1F5F2;
    display: flex;
    align-self: flex-start;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.last-news-media {
    border-radius: 1px;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.10);
    flex: 1 0 auto;
    align-self: flex-start;
}

.last-news-title {
    padding: 0;
    margin: 0 0 7px;
    font-size: 17px;
    line-height: 18px;
    @include SFProDisplayMedium;
}

.last-news-text {
    line-height: 18px;
    margin-bottom: 13px;
    font-size: 15px;
    @include SFProTextLight;
}

.last-news-panel {
    display: flex;
}

.last-news-date {
    font-size: 14px;
    color: #9B8EA0;
}

.our-project {
    display: flex;
    flex-direction: column;
}

.our-project-list {
    background: #F8F8F8;
    border-radius: 1px;
    li:last-child {
        border-bottom-width: 0;
    }
}

.our-project-media {
    border-radius: 1px;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.10);
    flex: 1 0 auto;
}

.our-project-title {
    margin-bottom: 26px;
}
