.home-info {
}

.home-info-title {
    margin: 0 0 48px;
    padding: 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    @include SFProDisplayBold;
}

.last-news-wrap {
    display: flex;
    flex-direction: column;
}

.home-info-all {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 15px;
    @include SFProDisplayBold;
    &::after {
        margin-left: 6px;
        top: 1px;
        letter-spacing: -3px;
        display: inline;
        position: relative;
        content: '››';
        font-size: 21px;
        @include SFProTextRegular;
    }
}

.last-news {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
    li {
        padding-bottom: 23px;
        border-bottom: 1px solid #E1F5F2;
        display: flex;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.last-news-media {
    width: 147px;
    height: 147px;
    margin-right: 28px;
    border-radius: 1px;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.10);
    flex: 1 0 auto;
}

.last-news-container {
}

.last-news-title {
    padding: 0;
    margin: 0 0 7px;
    font-size: 17px;
    @include SFProDisplayMedium;
}

.last-news-text {
    line-height: 18px;
    margin-bottom: 13px;
    font-size: 15px;
    @include SFProTextLight;
}

.last-news-panel {
    display: flex;
}

.last-news-date {
    font-size: 14px;
    color: #9B8EA0;
}
