.land {
    margin-left: auto;
    max-width: 405px;
    width: 413px;
    height: 419px;
    background: url(../img/global-world@2x.png) center 25px no-repeat;
    background-size: 352px 316px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.land-link {
    margin-top: auto;
    text-transform: uppercase;
    font-size: 17px;
    color: #390050;
    text-align: center;
    @include SFProTextSemibold;
    .arrow-long {
        width: 15px;
        height: 15px;
        right: -22px;
        top: 0;
        fill: #390050;
        position: absolute;
        transition: fill 0.3s ease;
    }
    a {
        line-height: .9;
        display: inline-block;
        border-bottom: 2px solid;
        position: relative;
        &:hover .arrow-long {
            fill: #178ace;
        }
    }
}

.land-list {
    width: 100%;
    height: 100%;
    position: relative;
    li {
        position: absolute;
    }
}

.flag- {
    &md {
        bottom: 66px;
        left: 179px;
    }
    &it {
        top: 55px;
        right: 95px;
        svg {
            background-color: #fff;
        }
    }
    &by {
        top: 97px;
        right: 5px;
    }
    &ge {
        top: 39%;
        right: 33%;
        svg {
            background-color: #fff;
        }
    }
    &gr {
        top: 31%;
        left: 0;
    }
    &hu {
        top: 11%;
        left: 10%;
    }
    &bg {
        top: 23%;
        left: 23%;
        svg {
            background-color: #fff;
        }
    }
    &am {
        top: 70%;
        left: 9%;
    }
    &az {
        top: 38%;
        right: 56%;
    }
    &me {
        top: 82%;
        right: 65%;
    }
    &ee {
        top: 19%;
        right: 14%;
        svg {
            background-color: #fff;
        }
    }
    &uz {
        top: 66%;
        right: 69%;
        svg {
            background-color: #fff;
        }
    }
    &in {
        top: 53%;
        right: 65%;
    }
    &si {
        bottom: 29%;
        right: 18%;
    }
    &kz {
        top: 49%;
        left: 1%;
    }
    &tj {
        bottom: 15%;
        right: 5%;
    }
    &pl {
        bottom: 42%;
        right: 44%;
        svg {
            background-color: #fff;
        }
    }
    &ua {
        top: 40%;
        left: 18%;
    }
    &cz {
        top: 65%;
        left: 56%;
        svg {
            background-color: #fff;
        }
    }
    &ro {
        top: 52%;
        right: 19%;
        svg {
            width: 24px;
            height: 16px;
        }
    }
    &lv {
        top: 31%;
        left: 50%;
        svg {
            background-color: #fff;
        }
    }
    &mk {
        top: 0;
        left: 36%;
        svg {
            width: 20px;
            height: 18px;
        }
    }
    &kg {
        top: 11%;
        left: 44%;
    }
    &ru {
        top: 24%;
        left: 68%;
    }
    &lt {
        top: 4%;
        right: 11%;
    }
    &rs {
        bottom: 17%;
        right: 28%;
    }
    &sk {
        bottom: 59%;
        right: 16%;
    }
    &cn {
        bottom: 36%;
        right: 3%;
    }
}

.land {
    .MD {
        width: 24px;
        height: 18px;
    }
    
    .IT {
        width: 28px;
        height: 20px;
    }
    
    .BY {
        width: 23px;
        height: 20px;
    }
    
    .GE {
        width: 28px;
        height: 20px;
        box-shadow: 0 0 6px #fff;
    }
    
    .GR {
        width: 22px;
        height: 20px;
    }
    
    .HU {
        width: 28px;
        height: 20px;
    }
    
    .BG {
        width: 30px;
        height: 30px;
        box-shadow: 0 0 6px #fff;
    }
    
    .AM {
        width: 22px;
        height: 20px;
    }
    
    .AZ {
        width: 22px;
        height: 20px;
    }
    
    .ME {
        width: 25px;
        height: 20px;
    }
    
    .EE {
        width: 28px;
        height: 20px;
    }
    
    .UZ {
        width: 28px;
        height: 20px;
    }
    
    .IN {
        width: 25px;
        height: 20px;
    }
    
    .SI {
        width: 28px;
        height: 20px;
    }
    
    .KZ {
        width: 24px;
        height: 20px;
    }
    
    .TJ {
        width: 22px;
        height: 20px;
    }
    
    .PL {
        width: 28px;
        height: 20px;
    }
    
    .UA {
        width: 24px;
        height: 20px;
    }
    
    .CZ {
        width: 28px;
        height: 20px;
    }
    
    .RO {
        width: 28px;
        height: 20px;
    }
    
    .LV {
        width: 28px;
        height: 20px;
    }
    
    .MK {
        width: 28px;
        height: 20px;
    }
    
    .KG {
        width: 28px;
        height: 20px;
    }
    
    .RU {
        width: 28px;
        height: 20px;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
    }
    
    .LT {
        width: 23px;
        height: 18px;
    }
    
    .RS {
        width: 26px;
        height: 20px;
    }
    
    .SK {
        width: 28px;
        height: 20px;
    }
    
    .CN {
        width: 28px;
        height: 20px;
    }
}
