.lawn {
    padding-top: 50px;
    padding-bottom: 50px;
}

.lawn-title {
    padding: 0;
    margin-bottom: 0;
    color: $green;
    a {
        color: inherit;
    }
}

.lawn-container {
    text-align: center;
    justify-content: center;
}

.lawn-item {
    margin-top: 30px;
    padding: 10px 15px 15px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(39, 47, 57, 0.15);
    sup {
        font-size: 60%;
        top: -.9em;
    }
}

.lawn-item-title {
    margin-bottom: 15px;
    color: $green;
    font-weight: 600;
    @include font-size(20px);
    a:not(:hover) {
        color: inherit;
    }
}

.lawn-media {
    width: 196px;
    height: 196px;
    margin: 0 auto 7px;
    border-radius: 50%;
    display: block;
    border: 7px solid rgb(216, 233, 223);
    box-shadow: 0 0 15px rgba(39, 47, 57, 0.3);
}

.lawn-inline {
    min-height: 45px;
    text-align: left;
    display: inline-block;
}

.lawn-decor {
    margin: 20px 0 15px;
    position: relative;
    border-bottom: 1px solid $green;
    &::before {
        width: 44px;
        height: 16px;
        margin-left: -22px;
        bottom: -6px;
        left: 50%;
        background: url(../img/flower@2x.png) no-repeat center $white;
        background-size: 25px 16px;
        position: absolute;
        content: '';
        z-index: 5;
    }
    &::after {
        width: 84%;
        height: 1px;
        top: -3px;
        left: 8%;
        position: absolute;
        content: '';
        background-color: $green;
    }
}

.lawn-cost {
    margin: 10px 0 15px;
    @include font-size(18px);
}

.lawn-more .arrow {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    fill: $mainColor;
}

.lawn-desc {
    min-height: 66px;
}
