.main-nav {
    position: relative;
    background-color: $green;
    z-index: 55;
    &::before, &::after {
        width: 100%;
        height: 1px;
        background-color: $yellow;
        display: block;
        content: '';
    }
    &::before {
        transform: translateY(5px);
    }
    &::after {
        transform: translateY(-5px);
    }
}

.main-nav-toggle {
    padding-left: 55px;
    display: none;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    &::after {
        width: 20px;
        height: 2px;
        left: 15px;
        top: 50%;
        margin-top: -1px;
        position: absolute;
        box-shadow: 0 7px 0 #fff, 0 -7px 0 #fff;
        background-color: #fff;
        content: '';
    }
}

.menu-wrap {
    z-index: 5;
}

.menu {
    margin-bottom: 0;
    z-index: 5;
    list-style: none;
    display: flex;
    justify-content: space-between;
    > li {
        height: 50px;
        text-transform: uppercase;
        a {
            color: $white;
            justify-content: space-between;
            &::before, &::after {
                width: 0;
                height: 1px;
                display: block;
                background-color: $green;
                content: '';
                transition: all .3s linear;
                align-self: center;
            }
            &::before {
                transform: translateY(4px);
            }
            &::after {
                transform: translateY(-4px);
            }
            &:hover {
                &::before,
                &::after {
                    width: 100%;
                }
            }
        }
        
        &:hover .menu-second {
            opacity: 1;
            pointer-events: auto;
        }
    }
    
}

.menu-second {
    width: 100%;
    min-width: 700px;
    display: flex;
    position: absolute;
    top: 46px;
    left: 0;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #f5d000;
    border-top: 0;
    background-color: #227907;
    list-style: none;
    z-index: -1;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    transition: all .3s linear;
    li {
        &:not(:first-child):not(:last-child) {
            margin: 0 15px;
        }
    }
    a:hover {
        color: $yellow;
    }
}

.menu li a, .menu li .menu-active {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.menu-active {
    color: $yellow;
    justify-content: center;
}
