.partners {
    max-width: 100%;
    overflow: hidden;
    flex: 1 0 auto;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-wrapper {
        cursor: move;
        align-items: center;
    }
    
    .swiper-slide {
        text-align: center;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.partners-img {
    max-height: 65px;
    max-width: 100px;
    display: block;
    img {
        max-height: 65px;
        opacity: .6;
        filter: grayscale(100%);
        transition: all 0.3s ease;
    }
    &:hover img {
        filter: none;
        opacity: 1;
    }
}
