.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners {
    margin-bottom: 90px;
}

.partners-img {
    max-height: 54px;
    img {
        max-height: 54px;
    }
}
