.view-section:hover .view-section-element::before {
    width: 100%;
    height: 100%;
}

.view-section-element {
    margin-bottom: 12px;
    display: block;
    position: relative;
    &::before {
        width: 55px;
        height: 38px;
        opacity: 0.9;
        background: #867A8A;
        border-radius: 2px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        content: '';
    }
    svg {
        width: 20px;
        height: 20px;
        fill: #fff;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease;
    }
    .photo {
        width: 22px;
        height: 22px;
    }
}

.type-video {
    &::before {
        background: #D8362A;
    }
    &::after {
        border: 9px solid transparent;
        border-left: 16px solid #fff;
        content: '';
        position: absolute;
        margin: -10px 0 0 -8px;
        top: 50%;
        left: 50%;
        pointer-events: none;
    }
}

.section-title {
    margin-bottom: 7px;
    line-height: 20px;
    display: block;
    font-size: 14px;
    @include SFProTextRegular;
}

.section-data {
    font-size: 14px;
    color: #9B8EA0;
    @include SFProTextRegular;
}
