<div class="article container">
    <div class="row">
        <div class="col-lg-6">
            <div class="first-face">
                <div class="first-face-media"><img src="img/example/img@2x.png" alt=""></div>

                <div class="first-face-content">
                    <h3 class="first-face-title">
                        <a href="#">В.К. Глухих: "Нам не привыкать преодолевать трудности"</a>
                    </h3>

                    <div class="first-face-text ellipsis">
                        О развитии отечественной промышленности и влиянии на него Федерального
                        закона «О промышленной политике в Российской Федерации», проблемах импортозамещения,
                        экономических интеграционных
                    </div>

                    <a href="#" class="read-more">
                        Продолжить чтение
                        <svg class="arrow-right">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 article-list">
            <div class="article-item">
                <a href="#" class="view-section" target="_blank" rel="nofollow">
                    <span class="view-section-element">
                        <img src="img/example/img-2@2x.png" alt="">
                        <svg class="photo">
                            <use xlink:href="img/sprite.svg#photo"></use>
                        </svg>
                    </span>
                    <span class="section-title">
                        Расширенное заседание совета МКПП
                    </span>
                </a>
            </div>

            <div class="article-item hidden-xs-down hidden-lg-up">
                <a href="#" class="view-section" target="_blank" rel="nofollow">
                    <span class="view-section-element">
                        <img src="img/example/img-2@2x.png" alt="">
                        <svg class="photo">
                            <use xlink:href="img/sprite.svg#photo"></use>
                        </svg>
                    </span>
                    <span class="section-title">
                        Заседание Совета МКПП
                    </span>
                </a>
            </div>

            <div class="article-item">
                <a href="#" class="view-section">
                    <span class="view-section-element type-video">
                        <img src="img/example/img-3@2x.png" alt="">
                    </span>
                    <span class="section-title">
                        Расширенное заседание совета МКПП
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
