<div class="article container">
    <div class="row">
        <div class="col-lg-6">
            <div class="first-face">
                <div class="first-face-media"><img src="img/example/img@2x.png" alt=""></div>

                <div class="first-face-content">
                    <h3 class="first-face-title">
                        <a href="#">В.К. Глухих: "Нам не привыкать преодолевать трудности"</a>
                    </h3>

                    <div class="first-face-text">О развитии отечественной промышленности и влиянии на него Федерального
                        закона «О промышленной политике в Российской Федерации», проблемах импортозамещения,
                        экономических интеграционных…</div>

                    <a href="#" class="read-more">Продолжить чтение</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 article-list">
            <div class="article-item">
                <a href="#">
                    <span class="article-media">
                        <img src="img/example/img-2@2x.png" alt="">
                        <span class="article-type-photo">
                            <svg class="photo">
                                <use xlink:href="img/sprite.svg#photo"></use>
                            </svg>
                        </span>
                    </span>
                    <span class="article-item-title">Расширенное заседание совета МКПП</span>
                </a>
            </div>

            <div class="article-item">
                <a href="#">
                    <span class="article-media">
                        <img src="img/example/img-10@2x.png" alt="">
                        <span class="article-type-photo">
                            <svg class="photo">
                                <use xlink:href="img/sprite.svg#photo"></use>
                            </svg>
                        </span>
                    </span>
                    <span class="article-item-title">Заседание Совета МКПП</span>
                </a>
            </div>

            <div class="article-item">
                <a href="#">
                    <div class="article-media">
                        <img src="img/example/img-3@2x.png" alt="">
                        <span class="article-type-video"></span>
                    </div>
                    <span class="article-item-title">Расширенное заседание совета МКПП</span>
                </a>
            </div>
        </div>
    </div>
</div>
