<article class="content content-white container hidden-xs">
    <h2 data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
        class="collapsed">Почему нам можно доверять?</h2>

    <div class="collapse" id="collapse-2">
        <ul class="list-blank">
            <li>Выращиваем и укладываем рулонные газоны в Москве больше 10-ти, лет и знаем все особенности травяного
                покрытия.
            </li>
            <li>Большой штат разнопрофильных специалистов – у нас есть люди, которые сумеют помочь вам с любой работой
                на участке.
            </li>
            <li>Больше 300 клиентов остались довольны нашим рулонным газоном.</li>
            <li>Перед покупкой вы можете осмотреть и пощупать траву. Вероятности получить низкокачественное покрытие
                нет.
            </li>
        </ul>

        <p>Если вам нужен не только рулонный газон «под ключ», но и ландшафтный дизайн, – посмотрите, какие участки мы
            создаём.</p>

        <p class="text-bold">Позвоните и расскажите нам, что вы хотите видеть на своём участке:</p>

        <p>Что будет после того как вы позвоните?</p>

        <ul class="list-blank">
            <li>Мы обсудим ваши пожелания, ответим на вопросы, проконсультируем вас и предложим возможные варианты.</li>
            <li>Мы организуем выезд специалиста на участок, чтобы он осмотрел территорию.</li>
            <li>Мы предложим идеи, покажем эскизы (если речь о ландшафтном дизайне), и вы выберете то, что вам нравится.
            </li>
            <li>Специалисты выполнят работы на участке в оговоренный срок.</li>
            <li>Результат будет долго радовать вас!</li>
        </ul>

        <p class="text-bold">Позвоните нам по телефону <a href="tel:+74993477663" class="text-nowrap" rel="nofollow">+7
            (499) 347-76-63</a>,
            чтобы получить консультацию и обсудить все вопросы.</p>
    </div>
</article>
