<footer>
    <div class="footer-main container bg-full">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <ul class="footer-link">
                    <li>
                        <a href="#">Главная</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Услуги и цены</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Наши работы</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Рекомендации</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Акции</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                </ul>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
                <ul class="footer-link">
                    <li>
                        <a href="#">Публикации</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Рулонный газон</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#">Карта сайта</a>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </li>
                </ul>
            </div>

            <div class="footer-contacts offset-xl-1 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <a href="tel:+7(499)347-76-63" class="footer-contacts-phone">
                    <svg class="phone-call">
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    +7 (499) 347-76-63
                </a>

                <div class="footer-contacts-schedule">
                    <svg class="clock">
                        <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <span class="footer-contacts-word">Ежедневно</span>&nbsp; с 09:00 до 21:00
                </div>

                <div class="footer-contacts-address">
                    <svg class="location">
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    г. Москва, Батайский проезд, дом 1
                </div>
            </div>

            <div class="footer-logo col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#"><img src="img/logo-footer.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="footer-panel container bg-full">
        <div class="row">
            <div class="footer-panel-left col-md-6">©2013—2017 ВипГазон.ру все права защищены.</div>

            <div class="footer-panel-right col-md-6">
                <img src="img/example/hit.png" alt="">
                <img src="img/example/counter.png" alt="">
                <img src="img/example/metrick.png" alt="">
            </div>
        </div>
    </div>
</footer>
