<div class="header-info container">
    <div class="header-content">
        <h1 class="header-title">МЕЖДУНАРОДНЫЙ КОНГРЕСС</h1>
        <div class="header-title-sup">Промышленников и Предпринимателей</div>
        <p class="header-text">Наш конгресс объединяет национальные союзы <br>
            промышленников и предпринимателей из 27 стран </p>

        <a href="about.html" class="btn btn-white">О нас</a>
    </div>

    <div class="land">
        <ul class="land-list list-unstyled">
            <li class="flag-md"><a href="#">
                <svg class="MD">
                    <use xlink:href="img/sprite.svg#MD"></use>
                </svg>
            </a></li>
            <li class="flag-it"><a href="#">
                <svg class="IT">
                    <use xlink:href="img/sprite.svg#IT"></use>
                </svg>
            </a></li>
            <li class="flag-by"><a href="#">
                <svg class="BY">
                    <use xlink:href="img/sprite.svg#BY"></use>
                </svg>
            </a></li>
            <li class="flag-ge"><a href="#">
                <svg class="GE">
                    <use xlink:href="img/sprite.svg#GE"></use>
                </svg>
            </a></li>
            <li class="flag-gr"><a href="#">
                <svg class="GR">
                    <use xlink:href="img/sprite.svg#GR"></use>
                </svg>
            </a></li>
            <li class="flag-hu"><a href="#">
                <svg class="HU">
                    <use xlink:href="img/sprite.svg#HU"></use>
                </svg>
            </a></li>
            <li class="flag-bg"><a href="#">
                <svg class="BG">
                    <use xlink:href="img/sprite.svg#BG"></use>
                </svg>
            </a></li>
            <li class="flag-am"><a href="#">
                <svg class="AM">
                    <use xlink:href="img/sprite.svg#AM"></use>
                </svg>
            </a></li>
            <li class="flag-az"><a href="#">
                <svg class="AZ">
                    <use xlink:href="img/sprite.svg#AZ"></use>
                </svg>
            </a></li>
            <li class="flag-me"><a href="#">
                <svg class="ME">
                    <use xlink:href="img/sprite.svg#ME"></use>
                </svg>
            </a></li>
            <li class="flag-ee"><a href="#">
                <svg class="EE">
                    <use xlink:href="img/sprite.svg#EE"></use>
                </svg>
            </a></li>
            <li class="flag-uz"><a href="#">
                <svg class="UZ">
                    <use xlink:href="img/sprite.svg#UZ"></use>
                </svg>
            </a></li>
            <li class="flag-in"><a href="#">
                <svg class="IN">
                    <use xlink:href="img/sprite.svg#IN"></use>
                </svg>
            </a></li>
            <li class="flag-si"><a href="#">
                <svg class="SI">
                    <use xlink:href="img/sprite.svg#SI"></use>
                </svg>
            </a></li>
            <li class="flag-kz"><a href="#">
                <svg class="KZ">
                    <use xlink:href="img/sprite.svg#KZ"></use>
                </svg>
            </a></li>
            <li class="flag-tj"><a href="#">
                <svg class="TJ">
                    <use xlink:href="img/sprite.svg#TJ"></use>
                </svg>
            </a></li>
            <li class="flag-pl"><a href="#">
                <svg class="PL">
                    <use xlink:href="img/sprite.svg#PL"></use>
                </svg>
            </a></li>
            <li class="flag-ua"><a href="#">
                <svg class="UA">
                    <use xlink:href="img/sprite.svg#UA"></use>
                </svg>
            </a></li>
            <li class="flag-cz"><a href="#">
                <svg class="CZ">
                    <use xlink:href="img/sprite.svg#CZ"></use>
                </svg>
            </a></li>
            <li class="flag-ro"><a href="#">
                <svg class="RO">
                    <use xlink:href="img/sprite.svg#RO"></use>
                </svg>
            </a></li>
            <li class="flag-lv"><a href="#">
                <svg class="LV">
                    <use xlink:href="img/sprite.svg#LV"></use>
                </svg>
            </a></li>
            <li class="flag-mk"><a href="#">
                <svg class="MK">
                    <use xlink:href="img/sprite.svg#MK"></use>
                </svg>
            </a></li>
            <li class="flag-kg"><a href="#">
                <svg class="KG">
                    <use xlink:href="img/sprite.svg#KG"></use>
                </svg>
            </a></li>
            <li class="flag-ru"><a href="#">
                <svg class="RU">
                    <use xlink:href="img/sprite.svg#RU"></use>
                </svg>
            </a></li>
            <li class="flag-lt"><a href="#">
                <svg class="LT">
                    <use xlink:href="img/sprite.svg#LT"></use>
                </svg>
            </a></li>
            <li class="flag-rs"><a href="#">
                <svg class="RS">
                    <use xlink:href="img/sprite.svg#RS"></use>
                </svg>
            </a></li>
            <li class="flag-sk"><a href="#">
                <svg class="SK">
                    <use xlink:href="img/sprite.svg#SK"></use>
                </svg>
            </a></li>
            <li class="flag-cn"><a href="#">
                <svg class="CN">
                    <use xlink:href="img/sprite.svg#CN"></use>
                </svg>
            </a></li>
        </ul>

        <div class="land-link"><a href="#">
            Члены МКПП
            <svg class="arrow-long">
                <use xlink:href="img/sprite.svg#arrow-long"></use>
            </svg>
        </a></div>
    </div>
</div>
