<header>
    <div class="container">
        <div class="row">
            <div class="header-logo col-xl-3 col-lg-4 col-md-5 col-sm-12">
                <img src="img/logo.png" alt="">
            </div>

            <div class="header-contact col-xl-3 col-lg-4 col-md-4 col-sm-6  offset-xl-2">
                <a href="tel:+7(499)347-76-63" class="header-contact-phone">
                    <svg class="phone-call">
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    +7 (499) 347-76-63
                </a>
                <div class="header-contact-schedule">
                    <svg class="clock">
                        <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <span class="header-contact-word">Ежедневно</span> с 09:00 до 21:00
                </div>
            </div>

            <div class="header-support col-xl-3 col-lg-4 col-md-3 col-sm-6 offset-xl-1">
                <button class="btn btn-green" data-toggle="modal" data-target="#myModal">
                    <svg class="smartphone">
                        <use xlink:href="img/sprite.svg#smartphone"></use>
                    </svg>
                    <span>заказать звонок</span>
                </button>

                <div class="header-support-address">г. Москва, Батайский проезд, дом 1</div>
            </div>
        </div>
    </div>
</header>
