<!doctype html>
<html lang="ru">
//= template/head.html
<body>
//= template/home-header.html

//= template/article.html

<div class="home-info container">
    <div class="row">
        <div class="last-news-wrap col-lg-6">
            <h2 class="home-info-title"><a href="#">Последние Новости</a></h2>

            <ul class="last-news">
                <li>
                    <div class="last-news-media"><img src="img/example/img-4@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="#">Визит делегации МКПП в Эстонию</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="#" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="last-news-media"><img src="img/example/img-5@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="#">Визит делегации МКПП в Латвию</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="#" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="last-news-media"><img src="img/example/img-6@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="#">Визит делегации МКПП в Литву</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="#" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>
            </ul>

            <a href="#" class="home-info-all">Все новости</a>
        </div>


    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

//= template/scripts.html

</body>
</html>
