<div class="home-info container">
    <div class="row">
        <div class="last-news-wrap col-lg-6">
            <h2 class="home-info-title">Последние Новости</h2>

            <ul class="last-news list-unstyled">
                <li class="last-news-item">
                    <div class="last-news-media hidden-xs-down"><img src="img/example/img-4@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="news-inner.html">Визит делегации МКПП в Эстонию</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="news-inner.html" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>

                <li class="last-news-item">
                    <div class="last-news-media hidden-xs-down"><img src="img/example/img-5@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="news-inner.html">Визит делегации МКПП в Латвию</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="news-inner.html" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>

                <li class="last-news-item">
                    <div class="last-news-media hidden-xs-down"><img src="img/example/img-6@2x.png" alt=""></div>

                    <div class="last-news-container">
                        <h3 class="last-news-title"><a href="news-inner.html">Визит делегации МКПП в Литву</a></h3>
                        <p class="last-news-text">20 июля с.г. состоялась встреча и.о. Президента МКПП Артема Чайки и
                            вице-президента Вячеслава Пшеничникова с членами Правления Ассоциации крупных
                            предпринимателей Эстонии...</p>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                            <a href="news-inner.html" class="read-more">Продолжить чтение</a>
                        </div>
                    </div>
                </li>
            </ul>

            <a href="news.html" class="home-info-all">Все новости</a>
        </div>

        <div class="our-project col-lg-6">
            <h2 class="home-info-title our-project-title"><a href="#">Наши проекты</a></h2>

            <ul class="our-project-list list-unstyled">
                <li class="our-project-item">
                    <div class="our-project-media"><a href="#"><img src="img/example/img-7@2x.png" alt=""></a></div>

                    <div class="our-project-container">
                        <h3 class="last-news-title"><a href="#">Комитет МКПП по вопросам обеспечения безопасности в
                            сфере предпринимательской деятельности</a></h3>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                        </div>
                    </div>
                </li>

                <li class="our-project-item">
                    <div class="our-project-media"><a href="#"><img src="img/example/img-8@2x.png" alt=""></a></div>

                    <div class="our-project-container">
                        <h3 class="last-news-title"><a href="#">Презентация НПП "Госметр"</a></h3>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                        </div>
                    </div>
                </li>

                <li class="our-project-item">
                    <div class="our-project-media"><a href="#"><img src="img/example/img-9@2x.png" alt=""></a></div>

                    <div class="our-project-container">
                        <h3 class="last-news-title"><a href="#">Презентация Проектно-инжинирингово центра
                            АТОМСТРОЙПРОЕКТ</a></h3>
                        <div class="last-news-panel">
                            <div class="last-news-date">21.07.2017</div>
                        </div>
                    </div>
                </li>
            </ul>

            <a href="#" class="home-info-all">Все проекты</a>
        </div>
    </div>
</div>
