<section class="lawn container">
    <h2 class="lawn-title">Какие рулонные газоны «под ключ» вы можете заказать у нас:</h2>

    <ul class="lawn-container row list-unstyled">
        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Парковый газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img.png" alt=""></div>

                <div class="lawn-inline">
                    <div>10% – мятлик</div>
                    <div>90% – овсяница</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">для больших территорий с ограниченным уходом</div>

                <div class="lawn-cost text-bold">110 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Универсальный газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img-2.png" alt=""></div>

                <div class="lawn-inline">
                    <div>80% – мятлик</div>
                    <div>20% – овсяница</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">идеален придомовой территории и дачи</div>

                <div class="lawn-cost text-bold">120 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Элитный газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img-3.png" alt=""></div>

                <div class="lawn-inline">
                    <div>100% – мятлик разных сортов</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">для участка, дачи или офиса, выдерживает нагрузки</div>

                <div class="lawn-cost text-bold">140 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Теневыносливый газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img-4.png" alt=""></div>

                <div class="lawn-inline">
                    <div>100% – мятлик разных сортов</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">для затемнённых участков - яркий и свежий</div>

                <div class="lawn-cost text-bold">150 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Спортивный газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img-5.png" alt=""></div>

                <div class="lawn-inline">
                    <div>100% – несколько сортов мятлика европейского</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">создан для различных спортивных площадок</div>

                <div class="lawn-cost text-bold">160 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">VIP-газон</a></div>

                <div class="lawn-media"><img src="img/lawn/img-6.png" alt=""></div>

                <div class="lawn-inline">
                    <div>100% – несколько сортов мятлика европейского</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">для изысканных, выглядит шикарно и гармонично</div>

                <div class="lawn-cost text-bold">160 руб. 1 <sup>2</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>

        <li class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lawn-item">
                <div class="lawn-item-title"><a href="#">Плодородный грунт</a></div>

                <div class="lawn-media"><img src="img/lawn/img-7.png" alt=""></div>

                <div class="lawn-inline">
                    <div>для укладки газонов</div>
                </div>

                <div class="lawn-decor"></div>

                <div class="lawn-desc">земля для газона минимальный заказ -
                    <span class="text-nowrap">15 м<sup>3</sup></span>
                </div>

                <div class="lawn-cost text-bold">950 руб. 1 м<sup>3</sup></div>

                <a href="#" rel="nofollow" class="lawn-more btn btn-light">
                    подробнее
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</section>
