<nav class="menu-wrap">
    <button class="menu-toggle"></button>

    <div class="nav-wrap">
        <div class="nav-head">
            Меню
            <div class="close-menu">
                <svg class="cross">
                    <use xlink:href="img/sprite.svg#cross"></use>
                </svg>
            </div>
        </div>

        <ul class="menu list-unstyled">
            <li class="dropdown-item">
                <span class="dropdown-link">О МКПП</span>
                <div class="dropdown-wrap">
                    <ul class="dropdown list-unstyled">
                        <li><a href="word.html">Слово Руководства</a></li>
                        <li><a href="members.html">Члены МКПП</a></li>
                        <li><a href="partners.html">Партнеры МКПП</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown-item">
                <span class="dropdown-link">Пресс-центр</span>
                <div class="dropdown-wrap">
                    <ul class="dropdown list-unstyled">
                        <li><a href="news.html">Новости МКПП</a></li>
                        <li><a href="smi.html">СМИ о МКПП</a></li>
                        <li><a href="photoreports.html">Фотоотчеты</a></li>
                        <li><a href="videos.html">Видео сюжеты</a></li>
                        <li><a href="journal.html">Вестник деловой жизни</a></li>
                        <li><a href="first-face.html">От первого лица</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="projects.html">Проекты</a></li>
            <li class="hidden-lg-up"><a href="documents.html">Документы</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>