<nav class="main-nav">
    <button class="container main-nav-toggle">Меню сайта</button>
    <div class="menu-wrap ">
        <ul class="menu container">
            <li><span class="menu-active">Главная</span></li>
            <li>
                <a href="#">Услуги и цены</a>

                <ul class="menu-second">
                    <li><a href="#">Продажа рулонного газона</a></li>
                    <li><a href="#">Доставка рулонного газона</a></li>
                    <li><a href="#">Укладка рулонного газона под ключ</a></li>
                    <li><a href="#">Ландшафтный дизайн участка</a></li>
                    <li><a href="#">Системы автоматического полива</a></li>
                </ul>
            </li>
            <li><a href="#">Наши работы</a></li>
            <li><a href="#">Рекомендации</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</nav>
