<div class="partners container">
    <div class="partners-carousel swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/undo@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/undo.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/cis@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/cis.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/cis@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/cis.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/bsec@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/bsec.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/bsec@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/bsec.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="partners-img">
                    <picture>
                        <source srcset="img/partners/eds@2x.png"
                                media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                        <img src="img/partners/eds.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
