<section class="review container">
    <div class="review-head">
        <h2 class="review-title">Отзывы клиентов</h2>
        <a href="#">Все отзывы клиентов</a>
    </div>

    <div class="row">
        <div class="review-item col-md-4 col-sm-6">
            <svg class="quote">
                <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            На нашей даче в 15 соток, которую мы недавно приобрели с мужем, за газоном никто не следил, точнее его там и
            не было. Были только грядки и поросший бурьяном участок...

            <div class="review-name text-bold"><a href="#">Регина Михайловна</a></div>
        </div>

        <div class="review-item col-md-4 col-sm-6">
            <svg class="quote">
                <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            На нашей даче в 15 соток, которую мы недавно приобрели с мужем, за газоном никто не следил, точнее его там и
            не было. Были только грядки и поросший бурьяном участок...

            <div class="review-name text-bold"><a href="#">Регина Михайловна</a></div>
        </div>

        <div class="review-item col-md-4 col-sm-6">
            <svg class="quote">
                <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            На нашей даче в 15 соток, которую мы недавно приобрели с мужем, за газоном никто не следил, точнее его там и
            не было. Были только грядки и поросший бурьяном участок...

            <div class="review-name text-bold"><a href="#">Регина Михайловна</a></div>
        </div>
    </div>
</section>
