<form action="#" class="search-top">
    <div class="search-top-icon">
        <svg class="search">
            <use xlink:href="img/sprite.svg#search"></use>
        </svg>
    </div>
    <div class="search-top-input">
        <input type="search" class="search-top-field hide-placeholder" placeholder="Поиск...">
        <button type="submit" class="search-top-btn">
            <svg class="search">
                <use xlink:href="img/sprite.svg#search"></use>
            </svg>
        </button>

        <div class="search-top-close">
            <svg class="cross">
                <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
        </div>
    </div>
</form>
