<!--
<section class="container special-offer hidden-xs">
    <h2 class="special-offer-title">У нас можно купить рулонный газон со скидкой</h2>
    <p class="special-offer-text">Каждый третий паллет (50 кв.м.) рулонного газона в подарок</p>

    <div class="special-offer-container row">
        <div class="special-offer-left col-md-6">
            <img src="img/actions/pallets.jpg" alt="">
        </div>

        <div class="special-offer-right col-md-6 ">
            <div class="special-offer-info" style="background-image: url(img/actions/bg-pallet.jpg)">
                <div class="special-offer-sign">Каждый третий паллет с премиальным <br> рулонным газоном</div>

                <div class="special-offer-free">Бесплатно</div>

                <a href="#" class="special-offer-btn">
                    <svg class="more">
                        <use xlink:href="img/sprite.svg#more"></use>
                    </svg>
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</section>
-->
