@import "variables";
@import "mixin";

.btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease;
    
    &-white {
        width: 160px;
        height: 55px;
        padding: 21px 0 0;
        background: #fff;
        box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
        font-size: 16px;
        color: #390050;
        text-transform: uppercase;
        @include SFProTextRegular;
        &:hover {
            color: #fff;
            background: #474CA6;
        }
    }
    &-arrow {
        padding: 0 19px 0 0;
        font-size: 15px;
        color: #390050;
        text-transform: uppercase;
        position: relative;
        @include SFProDisplayBold;
        &:hover {
            color: #474CA6;
            .double-arrow {
                fill: #474CA6;
            }
        }
        .double-arrow {
            width: 12px;
            height: 12px;
            top: 1px;
            right: 0;
            position: absolute;
            fill: #390050;
            transition: all 0.3s ease;
        }
    }
    &-default {
        width: 200px;
        height: 55px;
        padding-top: 5px;
        text-align: center;
        font-size: 16px;
        color: #390050;
        border: 1px solid #E6DDEE;
        letter-spacing: 0;
        background: #E6DDEE;
        text-transform: uppercase;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
        transition: all .3s ease;
        @include SFProTextRegular;
        &:hover {
            background: #fff;
        }
    }
}
