@import "variables";
@import "mixin";

.btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease;
    
    &-white {
        width: 160px;
        height: 55px;
        padding: 21px 0 0;
        background: #fff;
        box-shadow: 0 5px 18px 0 rgba(0,0,0,0.05);
        font-size: 16px;
        color: #390050;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            background: #474CA6;
        }
    }
    &-arrow {
        padding-right: 19px;
        font-size: 15px;
        color: #390050;
        text-transform: uppercase;
        position: relative;
        @include SFProDisplayBold;
        &::before, &::after {
            width: 7px;
            height: 7px;
            top: 6px;
            border-right: 2px solid #390050;
            border-bottom: 2px solid #390050;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            transition: all .3s ease;
            content: '';
        }
        &::before {
            right: 4px;
        }
        &::after {
            right: -2px;
        }
    }
}
