@import "variables";
@import "mixin";

.btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: inline-flex;
    
    &-green {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        text-transform: uppercase;
        color: $white;
        background-color: $green;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 15px rgba($mainColor, 0.35);
        align-items: center;
        justify-content: center;
        justify-items: center;
        &::before {
            width: 100%;
            height: 0;
            top: 50%;
            left: 50%;
            background-color: $white;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%);
            content: '';
            position: absolute;
            transition: all 0.3s;
        }
        span {
            margin: auto 0;
            position: relative;
            z-index: 3;
        }
        .smartphone {
            width: 23px;
            height: 23px;
            margin-right: 10px;
            fill: $white;
            overflow: hidden;
            position: relative;
            z-index: 3;
            transition: all 0.3s ease;
        }
        &:hover, &:active {
            color: $green;
            &:before {
                height: 100%;
                opacity: 1;
            }
            .smartphone {
                fill: $green;
            }
        }
    }
    &-light {
        padding: 10px 15px;
        text-transform: uppercase;
        border: 1px solid $green;
        color: $mainColor;
        position: relative;
        box-shadow: 0 0 15px rgba($mainColor, 0.35);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-size(14px);
        &:after {
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $green;
            content: '';
            position: absolute;
            z-index: -1;
            transition: all 0.5s;
        }
        svg {
            transition: all 0.3s ease;
        }
        &:hover, &:active {
            color: $white;
            
            &:after {
                width: 100%;
            }
            
            svg {
                fill: $white;
            }
        }
    }
}
