@import "../common/variables";

.radio-custom {
    display: none;
    &:checked + .radio-custom-view {
        color: #2F2732;
        &::before {
            border-color: #474CA6;
        }
        &::after {
            border-color: #474CA6;
        }
    }
    &-view {
        cursor: pointer;
        position: relative;
        color: #867A8A;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        transition: all 0.3s ease;
        @include SFProTextLight;
        &::before {
            width: 24px;
            height: 24px;
            margin-right: 14px;
            background-color: #ffffff;
            content: '';
            line-height: 1;
            border-radius: 50%;
            border: 1px solid #E6DDEE;
            transition: all 0.3s ease;
        }
        &:after {
            width: 11px;
            height: 6px;
            top: 8px;
            left: 7px;
            position: absolute;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            transform: rotate(-43deg);
            transition: all 0.3s ease;
            content: '';
        }
        a, span {
            padding-left: 5px;
        }
    }
}

/*
<label class="label-block">
    <input type="checkbox" name="" class="checkbox-custom">
    <span class="checkbox-custom-view label">Fabfoxx</span>
</label>
*/


.checkbox-custom {
    display: none;
    &:checked + .checkbox-custom-view {
        color: #111;
        &::before {
            border-color: #E6DDEE;
        }
    }
    &-view {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        &::before {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: #ffffff;
            content: '';
            border-radius: 4px;
            border: 1px solid #e3e3e3;
            transition: all 0.3s ease;
        }
        a, span {
            padding-left: 5px;
        }
    }
}
