@import "variables";
@import "mixin";

html {
    font-size: 16px;
    height: 100%;
}

html,
body {
    width: 100%;
}

body {
    color: #2F2732;
    line-height: 1.4;
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    @include font-size(16px);
    @include SFProTextRegular;
}

a, .as-link {
    color: #390050;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
        color: #178ace;
    }
    &:focus {
        outline: none;
    }
}

.as-link {
    cursor: pointer;
}

img {
    max-width: 100%;
}

b, strong {
    font-weight: normal;
    @include SFProDisplayBold;
}

h2, h3, h4, h5 {
    padding: 10px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #390050;
    @include SFProDisplayBold;
}

h1 {
    margin-bottom: 50px;
    font-size: 26px;
    text-transform: uppercase;
    @include font-size(26px);
}

h2 {
    margin-bottom: 26px;
    font-size: 22px;
    text-transform: uppercase;
}

h3 {
    @include font-size(20px);
}

h4 {
    @include font-size(18px);
}

h5 {
    @include font-size(16px);
}

h6 {
    @include font-size(16px);
}

.text {
    &-center {
        text-align: center
    }
    &-left {
        text-align: left
    }
    &-right {
        text-align: right
    }
    &-justify {
        text-align: justify
    }
    &-bold {
        font-weight: normal;
        @include SFProDisplayBold;
    }
    &-nowrap {
        white-space: nowrap;
    }
    &-lowercase {
        text-transform: lowercase;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.list {
    &-double-arrow {
        padding-left: 0;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 24px;
        list-style: none;
        @include SFProTextRegular;
        li:not(:last-child) {
            margin-bottom: 25px;
        }
        a::before {
            margin-right: 13px;
            top: -1px;
            letter-spacing: -3px;
            display: inline;
            position: relative;
            content: '››';
        }
    }
    &-unstyled {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

.clearfix {
    @include clearfix;
}

button, input, select, textarea {
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.overflow {
    overflow: hidden;
}

.header-page {
    height: 150px;
    margin-bottom: 75px;
    border-bottom: 4px solid #474CA6;
    position: relative;
    .header-panel {
        height: 150px;
        background: url(../img/bg/bg-header-page.jpg) no-repeat right top;
        &::before {
            width: 350px;
            height: 100%;
            top: -4px;
            left: 0;
            position: absolute;
            background-color: #F9F9FC;
            content: '';
            z-index: 4;
            transform: skew(-32deg);
        }
        &::after {
            width: 160rem;
            height: 100%;
            margin-right: -280px;
            top: 0;
            right: 100%;
            background-color: #474CA6;
            position: absolute;
            z-index: 5;
            content: '';
            transform: skew(-32deg);
        }
    }
}

.content {
    @include SFProTextLight;
}

.wrapper {
    margin-bottom: 120px;
    overflow-x: hidden;
    flex: 1;
}
